# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [10]:
city_weather=pd.read_csv('../python-api-challenge/dir/weather_df.csv')
city_weather.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Gornopravdinsk,60.0500,69.9000,45.00,78,100,6.38,RU,1630106712
1,1,Ilo,-17.6394,-71.3375,59.25,81,58,6.17,PE,1630106713
2,2,Nikolskoye,59.7035,30.7861,60.69,84,97,6.80,RU,1630106713
3,3,Barrow,71.2906,-156.7887,41.02,70,90,26.46,US,1630106713
4,4,Bekhtery,46.2510,32.2927,68.99,70,0,2.80,UA,1630106713

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [13]:
gmaps.configure(g_key)

In [14]:
#locations = latitiude and longitude, weights = humidity
locations = city_weather[["Lat","Lng"]].astype(float)
humidity = city_weather["Humidity"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations,weights=humidity,dissipating=False,max_intensity=100,point_radius=1)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
#narrow down max temp 70-80, wind speed <10, cloudiness 0, drop na null value rows
ideal_weather=city_weather.loc[(city_weather["Max Temp"]>70)&(city_weather["Max Temp"]<80)&(city_weather["Wind Speed"]<10)&(city_weather["Cloudiness"]<1)].dropna()

ideal_weather.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
40,40,Erzin,36.9559,36.2000,79.00,67,0,1.16,TR,1630106723
50,50,Requena,39.4883,-1.1004,72.14,31,0,6.31,ES,1630106725
135,135,Byron Bay,-28.6500,153.6167,70.05,38,0,8.52,AU,1630106467
177,177,Nador,35.1740,-2.9287,77.25,73,0,8.05,MA,1630106759
204,204,ArdakƒÅn,32.3100,54.0175,79.18,19,0,6.62,IR,1630106766

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [16]:
#make new hotel dataframe using scrubbed data from ideal weather df
hotel_df=pd.DataFrame(ideal_weather, columns=["Lat","Lng","City","Country"])
hotel_df["Hotel Name"]=""
hotel_df.head()

         Lat       Lng       City Country Hotel Name
40   36.9559   36.2000      Erzin      TR
50   39.4883   -1.1004    Requena      ES
135 -28.6500  153.6167  Byron Bay      AU
177  35.1740   -2.9287      Nador      MA
204  32.3100   54.0175    ArdakƒÅn      IR

In [25]:
params = {"key":g_key, "type":"hotel","keyword":"hotels","radius":5000}

for index, row in hotel_df.iterrows():
    #url for places
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    lat=row["Lat"]
    lng=row["Lng"]
    place = row["City"]
    
    #add coordinates
    params["location"]=f"{lat},{lng}"
    
    #make API request
    city_response=requests.get(base_url,params=params).json()
    
    results=city_response['results']
    
    #try except for missing data
    try:
        print(f"Hotel: {results[0]['name']} is in {place}.")
                
        hotel_df.loc[index,"Hotel Name"]=results[0]['name']
    except(KeyError):
        print("No hotel found.")
        pass
        continue

Hotel: Hattusa Vacation Thermal Club Erzin is in Erzin.
Hotel: Hotel Patilla Ciudad de Requena is in Requena.
Hotel: Atlantic Byron Bay is in Byron Bay.
Hotel: H√¥tel Mercure Rif Nador is in Nador.
Hotel: Kheshtomah Ecolodge is in ArdakƒÅn.
Hotel: Faguo Hotel is in Pulandian.
Hotel: Elysium Hotel is in Paphos.
Hotel: Princesse Tsiribihina is in Miandrivazo.
Hotel: Ÿæÿß€å⁄ØÿßŸá ÿ∑ÿ®€åÿπÿ™ ⁄Øÿ±ÿØ€å is in Taft.
Hotel: Cosmos is in Zhezkazgan.
Hotel: Hotel –ë–µ–π–Ω–µ—É is in Beyneu.
Hotel: Grand Hotel Berti is in Bing√∂l.

In [26]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [28]:
# Add marker layer ontop of heat map
marker_layer =gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))